*{
   margin:0;
   padding: 0;
}

.carousel-container{
   width: 800px;
   height: 600px;
    overflow: hidden;  
   position: relative;
   margin: 0 auto;
}

.carousel-container img{
    position: absolute;  
}
#btn1{
      position: absolute;
      top: 300px;
      left: 300px;
      height: 20px;
      width:30px;
      background-color: black;
      color: white;
}
#btn{
   position: absolute;
   top: 300px;
   right: 600px;
   height: 20px;
   width:30px;
   background-color: black;
   color: white;
}
.position{
   position: absolute;
   bottom: 80px;
   left: 400px;
}
.dot {
   cursor: pointer;
  
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 30px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   
 }
 
 .active{
    background-color: red;
 }